n8n/workflow-error-handler.json
{
  "name": "Build 03 — Error Handler + Retry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-intake-error",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook — Error Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "error-handler-trigger"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nconst errorType = body.errorType || 'unknown';\nconst caseName = body.caseName || 'Unknown Case';\nconst contactId = body.contactId || null;\nconst fileUrl = body.fileUrl || null;\nconst attemptNumber = (body.attemptNumber || 0) + 1;\nconst errorMessage = body.errorMessage || 'Unknown error occurred';\n\nreturn [{ json: { errorType, caseName, contactId, fileUrl, attemptNumber, errorMessage, timestamp: new Date().toISOString() } }];"
      },
      "name": "Parse Error Details",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.attemptNumber }}", "operation": "smallerEqual", "value2": 3 }]
        }
      },
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_PDF_INTAKE_WEBHOOK }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "file_url", "value": "={{ $json.fileUrl }}" },
            { "name": "contact_id", "value": "={{ $json.contactId }}" },
            { "name": "case_name", "value": "={{ $json.caseName }}" },
            { "name": "attempt_number", "value": "={{ $json.attemptNumber }}" }
          ]
        },
        "options": {}
      },
      "name": "Retry — Trigger PDF Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL }}",
        "toEmail": "={{ $env.GHL_ATTORNEY_EMAIL }}",
        "subject": "=ACTION REQUIRED: Medical Records Processing Failed — {{ $json.caseName }}",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;'><h2 style='color:#c0392b;'>Medical Records Processing Error</h2><p>The medical records summarizer has failed after 3 retry attempts and requires manual intervention.</p><table style='width:100%;border-collapse:collapse;'><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>Case:</td><td style='padding:8px;'>{{ $json.caseName }}</td></tr><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>Error Type:</td><td style='padding:8px;'>{{ $json.errorType }}</td></tr><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>Error Message:</td><td style='padding:8px;'>{{ $json.errorMessage }}</td></tr><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>Attempts:</td><td style='padding:8px;'>{{ $json.attemptNumber }}</td></tr><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>File URL:</td><td style='padding:8px;'>{{ $json.fileUrl }}</td></tr><tr><td style='padding:8px;background:#f5f5f5;font-weight:bold;'>Timestamp:</td><td style='padding:8px;'>{{ $json.timestamp }}</td></tr></table><p><strong>Action Required:</strong> Please check the file and resubmit, or contact your system administrator.</p><p style='color:#666;font-size:12px;'>Medical Records AI Summarizer — Build #3 — Error Alert</p></body></html>"
      },
      "name": "Alert — Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "body", "value": "=[PROCESSING ERROR — {{ $json.timestamp }}]\nCase: {{ $json.caseName }}\nError: {{ $json.errorType }}\nMessage: {{ $json.errorMessage }}\nAttempts: {{ $json.attemptNumber }}\nStatus: REQUIRES MANUAL REVIEW" }
          ]
        },
        "options": {}
      },
      "name": "GHL — Log Error to Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Max retries reached — manual intervention required', caseName: $json.caseName, errorType: $json.errorType }) }}"
      },
      "name": "Respond — Max Retries Reached",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook — Error Intake": { "main": [[{ "node": "Parse Error Details", "type": "main", "index": 0 }]] },
    "Parse Error Details": { "main": [[{ "node": "Should Retry?", "type": "main", "index": 0 }]] },
    "Should Retry?": {
      "main": [
        [{ "node": "Wait 30 Seconds", "type": "main", "index": 0 }],
        [{ "node": "Alert — Send Error Email", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30 Seconds": { "main": [[{ "node": "Retry — Trigger PDF Intake", "type": "main", "index": 0 }]] },
    "Alert — Send Error Email": { "main": [[{ "node": "GHL — Log Error to Contact", "type": "main", "index": 0 }]] },
    "GHL — Log Error to Contact": { "main": [[{ "node": "Respond — Max Retries Reached", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["build-03", "medical-records", "error-handler", "retry"]
}
