n8n/workflow-summary-delivery.json
{
  "name": "Build 03 — Summary Email Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summary-delivery",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook — Summary Ready",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "summary-delivery-trigger"
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json.body || $input.first().json;\nconst summary = data.summary || '';\nconst caseName = data.caseName || 'Unknown Case';\nconst clientName = data.clientName || 'Unknown Client';\nconst contactId = data.contactId;\nconst timestamp = data.timestamp || new Date().toISOString();\nconst wordCount = data.wordCount || summary.split(' ').length;\nreturn [{ json: { summary, caseName, clientName, contactId, timestamp, wordCount } }];"
      },
      "name": "Prepare Delivery Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL || 'noreply@yourfirm.com' }}",
        "toEmail": "={{ $env.GHL_ATTORNEY_EMAIL }}",
        "subject": "=Medical Records Summary Ready: {{ $json.caseName }}",
        "emailType": "html",
        "message": "=<html><body style='font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto;'><h2 style='color: #1a1a2e;'>Medical Records Summary</h2><table style='width: 100%; border-collapse: collapse; margin-bottom: 20px;'><tr><td style='padding: 8px; background: #f5f5f5; font-weight: bold;'>Case:</td><td style='padding: 8px;'>{{ $json.caseName }}</td></tr><tr><td style='padding: 8px; background: #f5f5f5; font-weight: bold;'>Client:</td><td style='padding: 8px;'>{{ $json.clientName }}</td></tr><tr><td style='padding: 8px; background: #f5f5f5; font-weight: bold;'>Generated:</td><td style='padding: 8px;'>{{ $json.timestamp }}</td></tr><tr><td style='padding: 8px; background: #f5f5f5; font-weight: bold;'>Summary Length:</td><td style='padding: 8px;'>{{ $json.wordCount }} words</td></tr></table><div style='background: #f9f9f9; padding: 20px; border-left: 4px solid #1a1a2e; white-space: pre-wrap;'>{{ $json.summary }}</div><p style='color: #666; font-size: 12px; margin-top: 20px;'>Generated automatically by Medical Records AI Summarizer — Build #3</p></body></html>"
      },
      "name": "Send Email to Attorney",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "=Review Medical Records Summary: {{ $json.caseName }}" },
            { "name": "body", "value": "=AI-generated medical records summary is ready for review. Case: {{ $json.caseName }} | Client: {{ $json.clientName }} | Generated: {{ $json.timestamp }}" },
            { "name": "dueDate", "value": "={{ new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString() }}" },
            { "name": "status", "value": "incompleted" }
          ]
        },
        "options": {}
      },
      "name": "GHL — Create Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GHL_API_KEY }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "customFields", "value": "=[{ \"key\": \"summary_status\", \"field_value\": \"completed\" }, { \"key\": \"summary_generated_at\", \"field_value\": \"{{ $json.timestamp }}\" }]" }
          ]
        },
        "options": {}
      },
      "name": "GHL — Update Contact Fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Summary delivered to attorney', caseName: $json.caseName }) }}"
      },
      "name": "Respond — Delivery Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook — Summary Ready": { "main": [[{ "node": "Prepare Delivery Data", "type": "main", "index": 0 }]] },
    "Prepare Delivery Data": {
      "main": [[
        { "node": "Send Email to Attorney", "type": "main", "index": 0 },
        { "node": "GHL — Create Review Task", "type": "main", "index": 0 }
      ]]
    },
    "Send Email to Attorney": { "main": [[{ "node": "GHL — Update Contact Fields", "type": "main", "index": 0 }]] },
    "GHL — Create Review Task": { "main": [[{ "node": "GHL — Update Contact Fields", "type": "main", "index": 0 }]] },
    "GHL — Update Contact Fields": { "main": [[{ "node": "Respond — Delivery Complete", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["build-03", "medical-records", "summary-delivery", "email", "ghl"]
}
